#book-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#book-main-header {
  background-color: #003055;
  margin: 0;
  padding: 10px;
}

#book-sort-section {
  padding: 10px;
  border-left: 1px solid;
  border-right: 1px solid;
}

#book-items-sort-h3 {
  margin: 0;
  padding: 5px;
}

.book-items-sort-button {
  margin: 0 5px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

#book-items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border: 1px solid;
}

.book-item {
  width: 200px;
  overflow: hidden;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.book-item-figure {
  width: 200px;
  height: 200px;
}

.book-item-figcaption {
  height: 2.1em;
  background-color: #003055;
  overflow: hidden;
}

.book-item-details-section {
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  background-color: #003055;
}

.book-item-description {
  height: 3em;
  overflow: hidden;
  border-top: 1px solid;
}

.book-item-price {
  border-top: 1px solid;
}

.book-item-add-to-cart-button {
  width: 100%;
  border: none;
}