#page-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #003055;
  padding: 10px;
  border-bottom: 1px solid;
}

#page-h1 {
  color: #E6B220;
  text-decoration:underline;
  margin: 0;
}

.navigation-button {
  border: none;
  text-decoration: underline;
}

#user-profile-form {
  display: flex;
  align-items: center;
}

#cart-button-container {
  height: 100%;
  padding: 0;
}

#cart-total {
  width: 3em;
  position: absolute;
  top: 4px;
  left: -3em;
  text-align: end;
}

#logout-button {
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
}